.inner-page-tours-header {
    margin-bottom: 60px;
    text-align: center;
}

/* Card */
.card-link:hover {
    opacity: 0.8;
}

.first-row {
    .card-link {
        max-width: 48.72%;
    }
    .card-link:first-child {
        margin-right: 30px;
    }
}

.cards-row {
    @include flex($fw: no-wrap);
    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.card-col {
    max-width: 670px;
    margin-right: 30px;
    @include flex($fdir: column);
    .card-link:first-child {
        margin-bottom: 30px;
    }
}

.second-col {
    max-width: 40%;
}

.second-row.card-link:last-child {
    max-width: 470px;
}

.card-title-wrapper {
    padding: 22px 30px;
    background-color: #A6A6A6;
    color: $ligthColor;
    &.sand-color {
        background-color: #C1B19B;
    }
    &.blue-color {
        background-color: #66B0BE;
    }
    &.brown-color {
        background-color:#876F56;
    }
    &.green-color {
        background-color: #27695E;
    }
}

.card-title {
    font-weight: 700;
    font-size: 28px;
    white-space: nowrap;                        /* Текст в одну строку */
    overflow: hidden;                           /* Обрезаем текст */
    text-overflow: ellipsis;                    /* Многоточие при обрезке большого текста */
}

/* tablet */

@media (max-width: 1199px) {
    .inner-page.tours {
        padding: 60px 0;
    }
    .card-title-wrapper {
        padding: 15px 20px;
    }
    .card-title {
        font-size: 24px;
    }
}

/* Mobile */

@media (max-width: 899px) {
    .inner-page.tours {
        padding: 40px 0 10px;
    }
    .inner-page-tours-header {
        margin-bottom: 40px;
    }
    .cards-row{
        flex-direction: column;
        &:not(:last-child) {
            margin-bottom: 0;
        }
        .card-link {
            max-width: 100%;
            height: 40%;
            margin-bottom: 30px;
            &:first-child {
                margin-right: 0;
            }
        }
    }
    .card-col {
        max-width: 100%;
        margin-right: 0;
        .card-link {
            height: 40%;
        }
    }
    .second-col {
        max-width: 100%;
    }
}

/* Mobile XS*/

@media (max-width: 599px) {
    .inner-page-tours-header {
        margin-bottom: 30px;
    }
    .card-title-wrapper {
        padding: 12px 15px;
    }
    .card-title {
        font-size: 20px;
    }
}